{% extends 'base.html' %}

{% block title %} Secret {%endblock%}

{% block content %}
<h1>{{ user.first_name }} {{ user.last_name }}</h1>

<p>Username: {{ user.username }}</p>
<p>Email: {{ user.email }}</p>
<form action="/users/{{ user.username }}/delete" method="POST">
  <button>Delete User</button>
</form>


<h1> Notes </h1>
<ul id="notes-list">
  <form method="POST">
  {% for note in user.notes %}
  <li>
    <a href='/notes/{{ note.id }}/update'><p>{{ note.title }}</p></a>
    <p>{{ note.content }}</p>
      <button formaction="/notes/{{ note.id }}/delete">Delete Note</button>
    </li>
    {% endfor %}
  </form>
</ul>

<a href='/users/{{ user.username }}/notes/add'><p>Add a Note</p></a>

{% endblock %}